<!DOCTYPE html>
{% load static %}
<html lang="en">
<!--make a base template, load in everything at the bottom in blocks, for one static load-->
<!--    <link rel="stylesheet" href="{% static '/mystyles.css' %}">-->
<!--    <link rel="stylesheet" href="{% static 'bootstrap-5.3.3-dist/css/bootstrap.min.css' %}">-->
<!--    <link rel="stylesheet" href="{% static '/mystyles.css' %}">-->
<!--    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>-->
    <head>
        <meta charset="UTF-8">
        <title>Whats On</title>
        <link rel="stylesheet" href="{% static 'bootstrap-5.3.3-dist/css/bootstrap.min.css' %}">
        <script src="{% static 'bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js' %}"></script>
    </head>
    <body>

        <!--    hello world-->
        <!--    {% for event in events %}<div>{{ event.title }}</div>{% endfor %}-->
        {% include "navbar.html" %}
        <div class="container mt-4">
            <div class="row">
                {% for event in events %}
                    <div class="col-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ event.home_team }}</h5>
                                <p class="card-text">Time: {{ event.event_time }}</p>
                                <p class="card-text">Description of the event goes here.</p>
                                <a href="#" class="btn bg-danger bg-gradient">View Details</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
