<!DOCTYPE html>
<body>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid d-flex justify-content-between align-items-center">
      <a class="navbar-brand d-flex align-items-center" href="#">
        <img src="{% static 'images/temp-logo.png' %}"
             width="62"
             height="62"
             class="d-inline-block align-top"
             alt="" />
        <span class="ms-2 header-title fs-2">Whats On</span>
      </a>
      <div class="d-flex">
        <button class="btn me-2 fs-2">Events</button>
        <button class="btn fs-2">Sports</button>
      </div>
    </div>
  </nav>
</body>
